.catalogList-conatiner{
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 5px;
    background-color: #E1F9F4;
    overflow-y: auto;
}

.grid-row{
    margin: 10px;
    border-radius: 20px;
    display: grid;
    background-color: white;
    grid-template-columns:  auto  auto  auto  auto  auto  auto  auto  auto  auto  auto;
}

.row-header-item{
    margin: 10px auto;
    width: 110px;
    height: 30px;
    border: 0px solid black;
    text-align: center;
}